
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #eefaf5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.container {
  text-align: center;
  z-index: 1;
}
canvas {
  border: 2px solid #6ac2a6;
  border-radius: 50%;
  margin-top: 20px;
}
.hidden {
  display: none;
}
#mensaje {
  margin-top: 20px;
  font-size: 1.2em;
  color: #5a9;
  font-weight: bold;
}
.phrase {
  position: absolute;
  top: 40%;
  font-size: 1rem;
  color: #6ac2a6;
  font-weight: bold;
  animation: floatUp 4s ease-in-out forwards;
}

@keyframes floatUp {
  from {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateY(-200px) rotate(10deg);
    opacity: 0;
  }
}
